terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
terraform/tmp/
.env
__pycache__/
*.pyc
.idea
# GCP credentials
*.json
key.json